<!DOCTYPE html>
<html lang="en">

  {% extends "public_template.html" %}

  {% block title %}Home{% endblock %}
  
  {% block main %}
  
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Home</h1>
        <hr>
        Web server to monitor Bee telemety data in real time
        <hr>
        App by Diyar Alyasiri & Juliette Ros 23/3/2020
        <br>
        <br>
        Source code at
        <a href="https://github.com/">
          To be uploaded..
        </a>
      </div>
    </div>
  </div>

  {% endblock %}
